body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1000px;
  height: 600px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
img {
  width: 70px;
  margin: 6px;
  cursor: pointer;
}
.card {
  position: relative;
}
.turnAroundCard .face {
  transform: rotateY(0deg);
}
.face {
  transform: rotateY(90deg);
  position: absolute;
}
